NEXT_PUBLIC_SITE_URL=http://localhost:3000
SILSIGAN_STORE_DRIVER=
SILSIGAN_ADMIN_TOKEN=
NAVER_SEARCH_CLIENT_ID=
NAVER_SEARCH_CLIENT_SECRET=
SILSIGAN_NAVER_SEARCH_ENABLED=
KMA_SERVICE_KEY=
KMA_GLOBAL_DAILY_CALL_LIMIT=1000
KMA_BURST_MINUTE_CALL_LIMIT=10
TOUR_API_SERVICE_KEY=
NATIONAL_PARKING_SERVICE_KEY=
NATIONAL_PARKING_ENDPOINT_URL=
ITS_SERVICE_KEY=
MEMBER_LINK_HMAC_SECRET=
COST_GUARD_HASH_SECRET=
PHOTO_UPLOADS_ENABLED=
IMAGE_TRANSFORMS_ENABLED=false
PHOTO_GLOBAL_DAILY_LIMIT=150
PHOTO_GLOBAL_MONTHLY_LIMIT=4500
PHOTO_GLOBAL_STORED_LIMIT=9000
NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=
SILSIGAN_NAVER_MAP_WEB_MAPS_CONFIRMED=
SILSIGAN_NAVER_MAP_ALLOWED_ORIGINS=
NEXT_PUBLIC_CLOUDFLARE_API_BASE_URL=http://localhost:8787
SILSIGAN_WORKER_API_BASE_URL=
SILSIGAN_WORKER_ADMIN_TOKEN=
SILSIGAN_STAGING_PAGES_URL=
SILSIGAN_STAGING_API_BASE_URL=
SILSIGAN_STAGING_ADMIN_TOKEN=
SILSIGAN_STAGING_COORDINATE_STATUS_SMOKE=
SILSIGAN_STAGING_COORDINATE_SMOKE_PLACE_ID=
SILSIGAN_STAGING_COORDINATE_SMOKE_LATITUDE=
SILSIGAN_STAGING_COORDINATE_SMOKE_LONGITUDE=
SILSIGAN_PRODUCTION_PAGES_URL=
SILSIGAN_PRODUCTION_API_BASE_URL=
SILSIGAN_WEBVIEW_ENV=
SILSIGAN_WEBVIEW_FIRST_PARTY_ORIGINS=
SILSIGAN_PRIVACY_POLICY_URL=
SILSIGAN_SUPPORT_URL=
SILSIGAN_RELEASE_GATE_MUTATION=
SILSIGAN_RELEASE_GATE_COORDINATE_STATUS=
SILSIGAN_RELEASE_GATE_BROWSER_REPORT=
SILSIGAN_RELEASE_GATE_REQUIRE_PHOTO=
SILSIGAN_RELEASE_GATE_TAIL_REQUIRED=
SILSIGAN_RELEASE_GATE_COLLECT_BLOCKERS=
SILSIGAN_RELEASE_GATE_TIMEOUT_MS=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_R2_BUCKET=silsigan-photos
MODERATION_ALERT_WEBHOOK_URL=
MODERATION_ALERT_WEBHOOK_TOKEN=
