.next
.open-next
.wrangler
**/.wrangler
cloudflare-env.d.ts
worker-configuration.d.ts
node_modules
.vercel
.env
.env.local
.env.*.local
coverage
.dev.vars
**/.dev.vars
playwright-report
test-results
tsconfig.tsbuildinfo
.env*.local
